html {
  font-size: 20px;
  font-weight: bold;
  background-image: url(https://http2.mlstatic.com/D_NQ_NP_729516-MLM43734939425_102020-O.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 0;
}

#thirdDiv {
  background-color: darkgoldenrod;
  height: 600px;
  width: 500px;
  margin: auto;
  padding: 50px;
  border: 4px solid black;
}

a {
  color: #d4af37;
  font-size: 17px;
}

.divClass {
  font-size: 16px;
}

#spanId {
  font-size: 18px;
}

h1 {
  color: goldenrod;
}
img {
  width: 400px;
  border-radius: 10px;
  margin: auto;
}
